@import 'https://fonts.googleapis.com/css?family=Space+Mono:400';

:root {
  --color-bg: #fff;
  --color-contrast: #000; 
}

html, body, input {
  font-family: 'Space Mono', ipm, Menlo, 'Courier New', monospace;
  font-size: calc(1vw + .75rem);
  &, h1, h2 {
    font-weight: 400;
  }
}

input {
  appearance: none;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background: transparent;
  color: currentColor;
  &[type='text'] {
    &:focus {
      outline: none;
    }
  }
}

.js-app {
  transition: opacity 400ms, visibility 400ms;
}

h2 {
  clip-path: inset(0 0 0 0);
  transition: 400ms clip-path cubic-bezier(.7,.25,0,1) 1000ms;
}

.logo {
  transition: 333ms transform cubic-bezier(.7,.3,.25,1.15);
  //transform: rotate(180deg) translateY(20%) translateZ(0);
  transform-origin: 50% 50%;
  pointer-events: none;
}


.background {
  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  box-shadow: inset 0 0 0 0.8rem currentColor;
  transition: 200ms background-color linear, 200ms color linear, 200ms box-shadow cubic-bezier(.7,.3,.25,1.15) 200ms;
  will-chrange: color, background-color, box-shadow;
}
.logo {
  svg {
    width: 6rem;
    height: auto;
    transition: 640ms transform cubic-bezier(.7,.3,.25,1.15) 200ms, 500ms opacity linear 240ms;
    transform: scale(1) rotate(0deg);
    path {
      fill: currentColor;
    }
  }
}

.inner {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  
  h1 {
    position: relative;
    margin: -1.8rem 0 .6rem 0;
  }
  h2 {
    margin: 0;
    font-size: 1rem;
    span {
      display: none;
    }
  }
  input[type='color'] {
    cursor: pointer;
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 100%; height: auto;
    opacity: 0;
  }
}


.is-hidden {
  visibility: hidden;
  opacity: 0;
  .background {
    box-shadow: inset 0 0 0 0 currentColor;
  }
  .logo svg {
    opacity: 0;
    transform: scale(0.15) rotate(-280deg);
  }
  h2 {
    clip-path: inset(0 0 100% 0);
  }
  
  .github-corner {
    transform: translate3d(150%,-150%,0);
  }
}

.github-corner {
  color: currentColor;
  position: absolute;
  top: 0; right: 0;
  transform: translate3d(0,0,0);
  transition: 333ms transform cubic-bezier(.7,.3,.25,1.15) 1200ms;
  will-change: transform;
  svg {
    width: 4rem; height: 4rem;
  }
  path {
    transition: 200ms fill linear;
    will-chrange: fill;
  }
  .octo-arm,
  .octo-body {
    fill: var(--color-bg);
  }
  .triange {
    fill: var(--color-contrast);
  }
}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
